.button {
  background-color: var(--pgi-button-background);
  border-color: var(--pgi-button-border-color);
  border-radius: var(--pgi-button-border-radius);
  border-style: var(--pgi-button-border-style);
  border-width: var(--pgi-button-border-width);
  box-shadow: var(--pgi-button-shadow);
  color: var(--pgi-button-color);
  font-size: var(--pgi-button-font-size);
  font-weight: var(--pgi-button-font-weight);
  line-height: var(--pgi-button-line-height);
  outline: none;
  padding: var(--pgi-button-padding-top) var(--pgi-button-padding-right)
    var(--pgi-button-padding-bottom) var(--pgi-button-padding-left);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 100%;

  &:hover {
    background-color: var(--pgi-button-background--hover);
    border-color: var(--pgi-button-border-color--hover);
    box-shadow: var(--pgi-button-shadow--hover);
    color: var(--pgi-button-color--hover);
    cursor: pointer;
  }

  &:active,
  &:focus {
    background-color: var(--pgi-button-background--focus);
    border-color: var(--pgi-button-border-color--focus);
    box-shadow: var(--pgi-button-shadow--focus);
    color: var(--pgi-button-color--focus);
  }
}
