.container {
  background: var(--pgi-color-secondary-1);

  .section {
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
    justify-content: space-between;
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
  }

  .column {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 16px;
    align-content: start;
  }

  .copyright {
    margin: 0;
    color: var(--pgi-color-basic-3);
  }

  @mixin media-768 {
    .section {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
