.container {
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.title {
  text-align: start;
}

.topBlock {
  display: grid;
  gap: 16px;
  width: 100%;
}

@mixin media-1024 {
  .topBlock {
    grid-template-columns: 1fr minmax(auto, 288px);
    gap: 24px;
  }
}
