.card {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 4px;
  background: var(--pgi-color-basic-0);
  box-shadow: var(--pgi-box-shadow-sm);

  .cardContent {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.photo {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 8px;
  background: var(--pgi-color-basic-1);
  border-radius: 4px;
}

.title,
.subtitle {
  margin: 0 8px 4px;
}

.title {
  font-size: 18px;
  color: var(--pgi-color-basic-5);
}

.subtitle {
  font-size: 14px;
  color: var(--pgi-color-basic-4);
}
