.link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--pgi-link-color);
  line-height: normal;
  text-decoration: none;

  &:hover {
    color: var(--pgi-link-color--hover);
    cursor: pointer;
    text-decoration: underline;
  }
}
