.container {
  padding: 8px;
}

.link {
  padding: 8px;
}

@mixin media-768 {
  .container {
    padding: 8px;
    border-radius: 8px;
    box-shadow: var(--pgi-wd-container-box-shadow);
  }

  .block {
    position: relative;
  }

  .links {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--pgi-color-basic-0);
  }

  .linksRight {
    top: 0;
    left: 100%;
  }

  .arrow {
    width: 24px;
    height: 24px;
  }

  .link {
    width: 100%;
    padding: 8px 4px;

    .arrow {
      transform: rotate(-90deg);
    }
  }
}
