.title {
  text-align: start;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 16px;
}

@mixin media-425 {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@mixin media-768 {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}
